table{
    
    width: 100%;
    border-collapse: collapse;
    padding: 20px;
}
caption{
    font-size: 20pt;
    font-weight: bold;
}
th, td{
    border: 1px solid black;
    
}
th{
    background-color: lightblue;
}
.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
